{% extends 'base.html' %}
{% block title %}New Asset{% endblock %}

{% block content %}

<div>
  <h1 class="text-success">New Asset</h1>
  <hr>
  <div class="card my-4">
    <div class="card-body cardbody-color p-4">
      <div class="form-group">
        <div class="d-flex">
          <img width=48 class="rounded ml-0 mr-3 my-auto" src="{{asset.model.logo_url}}">
          <h2 class="ml-0 mr-auto my-auto">{{ asset.model.html_name }}</h2>
        </div>
        <form class="my-3" method="POST" action="{% url 'asset_create' asset.model.html_name %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.auto_id }}">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endfor %}
          <div class="d-flex mt-3">
            <a class="btn btn-danger ml-auto mr-0" type="button" href="{% url 'asset_dashboard' %}">Cancel</a>
            <button class="btn btn-success ml-2 mr-0" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% block extra_js %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/6en8XCp+HHAAK5GSLf2xlYtvJ8U2Q4U+9cuEnJoa3" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    // Get the service and model dropdown elements
    var serviceDropdown = $("#id_embedding_model_service");
    var modelDropdown = $("#id_embedding_model");

    // Function to update the model dropdown options based on the selected service
    function updateModelOptions() {
      var selectedService = serviceDropdown.val();

      // AJAX request to get the model choices for the selected service
      $.getJSON(`/asset/get_embedding_models?service=${selectedService}`, function (models) {
        // Clear the existing options
        modelDropdown.empty();

        // Add the new options
        $.each(models, function (index, model) {
          modelDropdown.append(
            $("<option></option>")
              .attr("value", model[0])
              .text(model[1])
          );
        });
      });
    }

    // Call the updateModelOptions function when the service dropdown value changes
    serviceDropdown.on("change", updateModelOptions);

    // Call the updateModelOptions function on page load
    updateModelOptions();
  });
</script>
{% endblock %}

{% endblock %}
