celery==5.3.1
celery-stubs
cohere==4.18.0
django==4.2.3
django-celery-results==2.5.1
django-celery-beat==2.5.0
django-fernet-fields==0.6
django-polymorphic==3.1.0
django-stubs
fakeredis==2.16.0
langchain==0.0.275
mantium-client
openai==0.27.8
pinecone-client
pytest
python-dotenv
redis==4.5.5
requests==2.31.0
