aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
billiard==4.1.0
celery==5.3.1
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.2.0
click==8.1.5
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cryptography==41.0.2
distlib==0.3.6
Django==4.2.3
django-celery-results==2.5.1
django-fernet-fields==0.6
django-polymorphic==3.1.0
dnspython==2.3.0
fakeredis==2.16.0
fastapi==0.97.0
filelock==3.12.2
frozenlist==1.4.0
identify==2.5.24
idna==3.4
iniconfig==2.0.0
kombu==5.3.1
loguru==0.7.0
mantium-client==0.1.4
mantium-spec==1.0.332
multidict==6.0.4
nodeenv==1.8.0
numpy==1.25.1
openai==0.27.8
openapi-client==1.1.7
packaging==23.1
pinecone-client==2.2.2
platformdirs==3.8.1
pluggy==1.2.0
pre-commit==2.20.0
prompt-toolkit==3.0.39
pycparser==2.21
pydantic==1.10.11
pytest==7.4.0
pytest-django==4.5.2
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0
redis==4.5.5
requests==2.31.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
starlette==0.27.0
tenacity==8.2.2
toml==0.10.2
tqdm==4.65.0
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
vine==5.0.0
virtualenv==20.23.1
wcwidth==0.2.6
yarl==1.9.2
