<button class="btn btn-success"
        hx-get="{% url 'api_key_edit' key_name%}"
        hx-target="#modals-block"
        hx-trigger="click">
    <i class="fa-solid fa-pen-to-square"></i>
</button>

<input type="text"
       class="form-control"
       id="{{ key_name }}-unmasked"
       name="{{ key_name}}-unmasked"
       value="{% if value %}{{ value }}{% else %}Not Configured{% endif %}" disabled>

<div class="input-group-append" onclick="CopyToClipboard('{{ key_name }}-unmasked')">
    <span class="input-group-text">
        <i class="fa-regular fa-copy" aria-hidden="true"></i>
    </span>
</div>
