{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="d-flex">
  <h1 class="my-auto ml-0 mr-auto text-success">Change Password</h1>
</div>
<hr>

{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endfor %}
{% endif %}

<div id="formAlert" class="alert alert-danger d-none" role="alert">
  Passwords do not match!
</div>

<div class="card my-4">
  <div class="card-body cardbody-color p-4">
    <form method="POST" id="passwordChangeForm">
      {% csrf_token %}

      <div class="form-group">
        <label for="{{ form.old_password.id_for_label }}">Old password</label>
        <div class="row">
          <div class="col-md-12">
            {{ form.old_password }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}">New password</label>
        <div class="row">
          <div class="col-md-12">
            {{ form.new_password1 }}
            <div class="progress mt-1" style="height: 15px;">
              <div id="passwordStrengthMeter" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small id="passwordFeedback" class="form-text"></small>
            <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}">Confirm new password</label>
        <div class="row">
          <div class="col-md-12">
            {{ form.new_password2 }}
          </div>
        </div>
      </div>

      <div class="d-flex">
        <button type="submit" class="btn btn-success my-auto ml-auto mr-0">Change Password</button>
      </div>
    </form>
  </div>
</div>

<script>
let passwordStrength = 0;

document.getElementById('id_new_password1').addEventListener('input', function(e) {
  const password = e.target.value;
  const result = zxcvbn(password);
  passwordStrength = result.score;

  const meter = document.getElementById('passwordStrengthMeter');
  const feedback = document.getElementById('passwordFeedback');

  let width = 0;
  let feedbackText = "";
  let meterClass = "";

  switch (result.score) {
      case 0:
          width = 20;
          meterClass = "bg-danger";
          feedbackText = "Very Weak";
          break;
      case 1:
          width = 40;
          meterClass = "bg-danger";
          feedbackText = "Weak";
          break;
      case 2:
          width = 60;
          meterClass = "bg-warning";
          feedbackText = "Fair";
          break;
      case 3:
          width = 80;
          meterClass = "bg-info";
          feedbackText = "Good";
          break;
      case 4:
          width = 100;
          meterClass = "bg-success";
          feedbackText = "Strong";
          break;
  }

  if (password.length < 8) {
      width = 20;
      meterClass = "bg-danger";
      feedbackText = "Too short";
      passwordStrength = 0;
  } else if (/^\d+$/.test(password)) {
      width = 20;
      meterClass = "bg-danger";
      feedbackText = "Entirely numeric";
      passwordStrength = 0;
  }

  meter.style.width = width + "%";
  meter.setAttribute('aria-valuenow', width);
  meter.className = "progress-bar " + meterClass;

  feedback.textContent = feedbackText;
  feedback.className = "form-text text-" + meterClass.split('-')[1];
});


document.getElementById('passwordChangeForm').addEventListener('submit', function(e) {
    const newPassword = document.getElementById('id_new_password1').value;
    const confirmPassword = document.getElementById('id_new_password2').value;
    const formAlert = document.getElementById('formAlert');

    if (passwordStrength <= 1) {

        // Don't display the alert, as the strength meter already conveys the information
        e.preventDefault();

        return;
    }

    if (newPassword !== confirmPassword) {
        formAlert.classList.remove('d-none');
        e.preventDefault();
        return;
    } else {
        formAlert.classList.add('d-none');
    }
});
</script>

{% endblock %}
