{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>chirps login</title>
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <script src="{% static '/js/jquery-3.7.0.min.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <div class="container">
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <h2 class="text-center text-dark mt-5">Chirps Login</h2>
                    <div class="card my-5">

                      <form class="card-body cardbody-color p-lg-5" method="POST" target="{% url 'login' %}">

                        {% csrf_token %}
                        <div class="text-center">
                          <img src="{% static '/account/chirps_logo.png' %}"
                               class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="chirps logo">
                        </div>

                        <div class="mb-3">
                          <input type="text" class="form-control" id="{{form.username.id}}"
                                 name="{{form.username.html_name}}"placeholder="User Name">
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" id="{{form.password.id}}"
                                 name="{{form.password.html_name}}" placeholder="password">
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-primary px-5 mb-5 w-100">Login</button></div>
                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
                          Registered? <a href="{% url 'signup' %}" class="text-dark fw-bold"> Create an
                            Account</a>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
        </div>

        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
