{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="d-flex">
    <h1 class="my-auto ml-0 mr-auto text-success">Account Settings</h1>
    <a class="btn btn-danger my-auto ml-auto mr-0" href="{% url 'change_password' %}">Change Password</a>
</div>
<hr>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" style="background: none; border: none; cursor: pointer; float: right;" data-bs-dismiss="alert"
        aria-label="Close">
        <!--"X" Icon-->
        <i class="fas fa-times"></i>
    </button>
</div>
{% endfor %}
{% endif %}

<div id="modals-block"> </div>

<form method="POST" action="{% url 'profile'%}">
    {% csrf_token %}

    <!-- Finding Preview Size -->
    <div class="form-group">
        <label for="{{ form.finding_preview_size.id_for_label }}">Finding Preview Size:</label>
        {{ form.finding_preview_size }}
        <small class="form-text text-muted">Configure the size of the Scan finding preview window</small>
    </div>

    <div class="card my-4">
        <div class="card-body cardbody-color p-4">
            <h5 class="card-title">API Keys</h5>
            <div class="form-group">

                <div class="mt-3 d-flex">
                    <!-- anthropic key -->
                    <div class="form-group col">
                        <label for="{{ form.anthropic_key.id_for_label }}">
                            <img src="{% static 'account/anthropic_logo.png' %}" alt="Anthropic Logo" class="img-fluid"
                                style="height: 1.5rem;">
                        </label>

                        <div class="input-group mb-3" id="anthropic_group"
                            hx-get="{% url 'api_key_masked' 'anthropic' %}" hx-trigger="load">
                            <i id="spinner-{{scan.id}}" class="fa-solid fa-spinner fa-spin"></i>
                        </div>
                        <!-- Cohere Key -->
                        <label for="{{ form.cohere_key.id_for_label }}">
                            <img src="{% static 'account/cohere_logo.png' %}" alt="Cohere Logo" class="img-fluid"
                                style="height: 1.5rem;">
                        </label>

                        <div class="input-group mb-3" id="cohere_group" hx-get="{% url 'api_key_masked' 'cohere' %}"
                            hx-trigger="load">
                            <i id="spinner-{{scan.id}}" class="fa-solid fa-spinner fa-spin"></i>
                        </div>
                        <!-- OpenAI Key -->
                        <label for="{{ form.openai_api_key.id_for_label }}">
                            <img src="{% static 'account/openai_logo.png' %}" alt="OpenAI Logo" class="img-fluid"
                                style="height: 1.5rem;">
                        </label>

                        <div class="input-group mb-3" id="openai_group" hx-get="{% url 'api_key_masked' 'openai' %}"
                            hx-trigger="load">
                            <i id="spinner-{{scan.id}}" class="fa-solid fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 d-flex">
        <button class="btn btn-success ml-auto mr-0" type="submit">Save</button>
    </div>

</form>

<!-- Toast notification -->
<div aria-live="polite" aria-atomic="true" style="position: fixed; top: 10px; right: 10px; z-index: 0;">
    <div class="toast bg-success" id="toast-notification" style="position: fixed; top: 10px; right: 10px;"
        data-bs-autohide="true" data-bs-delay="5000">
        <div class="toast-header">
            <strong class="me-auto">Success!</strong>
            <button type="button" class="btn" data-bs-dismiss="toast" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="toast-body">
            API Key coiped to clipboard.
        </div>
    </div>
</div>
<!-- End of Toast notification -->

<script>
    function CopyToClipboard(elementId) {

        let elementToCopy = document.getElementById(elementId);

        elementToCopy.removeAttribute("disabled");
        elementToCopy.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");
        elementToCopy.setAttribute("disabled", "");
        window.getSelection().removeAllRanges();

        const toastElement = document.getElementById("toast-notification");
        const toast = new bootstrap.Toast(toastElement);
        toast.show();
    }

    function closeModal() {
        var container = document.getElementById("modals-block")
        var backdrop = document.getElementById("modal-backdrop")
        var modal = document.getElementById("edit-key-modal")

        modal.classList.remove("show")
        backdrop.classList.remove("show")

        setTimeout(function () {
            container.removeChild(backdrop)
            container.removeChild(modal)
        }, 200)
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

<style>
    .api-key-icon:hover .fa-eye-slash,
    .api-key-icon .fa-eye {
        display: none;
    }

    .api-key-icon:hover .fa-eye {
        display: inline;
    }
</style>
{% endblock %}
