{% extends 'base.html' %}
{% block title %}Plans{% endblock %}

{% block content %}

<h1 class="text-success">Plans</h1>
<!-- <a class="btn btn-primary" href="{% url 'plan_create' %}">New Plan</a> -->
<hr>

<div class="accordion" id="plan_templates">
    {% for template in page_obj %}
    <div class="accordion-item", id="chirps-plan-{{template.id}}">
        <div class="accordion-header">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapse-{{template.id}}"
                aria-expanded="false" aria-controls="collapse-{{template.id}}">
            <div class="d-flex">
                <h5 class="ml-0 mr-3 my-auto">{{template.name}}</h5>
                <small class="ml-0 mr-auto my-auto">{{template.description}}</small>
            </div>
        </button>
        </div>
        <div id="collapse-{{template.id}}" class="accordion-collapse collapse">
        <div class="accordion-body">
            <h5>Rules</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Query</th>
                        <th scope="col">Test</th>
                        <th scope="col">Severity</th>
                    </tr>
                </thead>

                <tbody>
                {% for rule in template.rules.all %}
                <tr>
                    <td>{{rule.name}}</td>
                    <td>{{rule.description}}</td>
                    <td>{{rule.query_string}}</td>
                    <td>{{rule.regex_test}}</td>
                    <td>{{rule.severity}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'pagination.html' with page_obj=page_obj %}

{% endblock %}
