<div id="rule_replace_me" class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="addRuleDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        Add Rule
    </button>
    <ul class="dropdown-menu" aria-labelledby="addRuleDropdown">
        {% for rule_type in rule_types %}
        <li>
            <a class="dropdown-item" href="#" hx-get="{% url 'create_rule' rule_type.value %}" hx-trigger="click"
                hx-target="#rule_replace_me" hx-swap="outerHTML">
                Add {{ rule_type.name }} Rule
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
