{% extends 'base.html' %}
{% block title %}New Policy{% endblock %}

{% block content %}

<div>
    <h1 class="text-success">New Policy</h1>
    <hr>
    <div class="card my-4">
        <div class="card-body cardbody-color p-4">
            <div class="form-group">
                <form method="POST" action="{% url 'policy_create' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Name" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" type="text" name="description" id="description"
                            placeholder="Description" required></input>
                    </div>

                    <div id="policy_rule_list">

                        <div id="rule_replace_me" hx-get="{% url 'render_add_rule_dropdown' %}" hx-trigger="load, click" hx-swap="outerHTML">
                            <!-- Add Rule dropdown will be loaded here -->
                        </div>
                    </div>

                    <div class="d-flex mt-3">
                        <a class="btn btn-danger ml-auto mr-0" type="button"
                            href="{% url 'policy_dashboard' %}">Cancel</a>
                        <button class="btn btn-primary ml-2 mr-0" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>


{% endblock %}
