{% for policy in policy_list %}
<div class="accordion-item policy-row", id="chirps-policy-{{policy.id}}" hx-target="closest .policy-row" hx-swap="outerHTML">
    <div class="accordion-header">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapse-{{policy.id}}"
                aria-expanded="false" aria-controls="collapse-{{policy.id}}">
            <div class="d-flex">
                <h5 class="ml-0 mr-3 my-auto">{{policy.name}}</h5>
                <small class="ml-0 mr-auto my-auto">{{policy.description}}</small>
            </div>
        </button>


    </div>
    <div id="collapse-{{policy.id}}" class="accordion-collapse collapse">
        <div class="accordion-body">
            <h5>Rules</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Query</th>
                        <th scope="col">Test</th>
                        <th scope="col">Severity</th>
                    </tr>
                </thead>

                <tbody>
                {% for rule in policy.current_version.rules.all %}
                <tr>
                    <td>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{rule.name}}">
                            {{rule.name|truncatechars:50}}
                        </span>
                    </td>
                    <td>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{rule.description}}">
                            {{rule.description|truncatechars:50}}
                        </span>
                    </td>
                    <td>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{rule.query_string}}">
                            {{rule.query_string|truncatechars:50}}
                        </span>
                    </td>
                    <td>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{rule.regex_test}}">
                            {{rule.regex_test|truncatechars:50}}
                        </span>
                    </td>
                    <td>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{rule.severity}}">
                            {{rule.severity|truncatechars:50}}
                        </span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if edit_mode %}
        {% if policy.is_template == False %}
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary m-3" href="{% url 'policy_edit' policy.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <button type="button" class="btn btn-outline-danger m-3" hx-delete="{% url 'policy_archive' policy.id %}"><i class="fa-solid fa-trash"></i> Archive</button>
            </div>
            <div class="col align-self-end">
                <p class="text-right m-3">version: {{policy.current_version.number}}</p>
            </div>
        </div>
        {% else %}
            <a class="btn btn-outline-primary m-3" href="{% url 'policy_clone' policy.id %}"><i class="fa-solid fa-clone"></i> Clone</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endfor %}
