{% extends 'base.html' %}
{% block title %}Policies{% endblock %}

{% block content %}

<div class="d-flex">
    <h1 class="my-auto ml-0 mr-auto text-success">Policies</h1>
    <a class="btn btn-primary my-auto ml-auto mr-0" href="{% url 'policy_create' %}">New Policy</a>
</div>
<hr>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" style="background: none; border: none; cursor: pointer; float: right;" data-bs-dismiss="alert" aria-label="Close">
            <!--"X" Icon-->
            <i class="fas fa-times"></i>
        </button>
    </div>
    {% endfor %}
{% endif %}

<!-- tab navs -->
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tabs-1" role="tab" aria-controls="tabs-1" aria-selected="true">Custom</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tabs-2" role="tab" aria-controls="tabs-2" aria-selected="false">Templates</a>
    </li>
</ul>
<!-- tab navs -->

<div class="tab-content" id="panel-content">

    <div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="tab-1">
        <div class="accordion" id="custom-panel-accordion">
            {% include 'policy/dashboard_policy_list.html' with policy_list=user_policies edit_mode=True%}
        </div>
    </div>

    <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tab-2">
        <div class="accordion" id="template-panel-accordion">
            {% include 'policy/dashboard_policy_list.html' with policy_list=templates edit_mode=True %}
        </div>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock %}
