<div class="card my-4 rule-row" hx-target="closest .rule-row" hx-swap="outerHTML">
    <div class="card-body cardbody-color p-4">
        <div class="row">
            <div class="col-6">
                <input type="hidden" name="rule_type_{{rule.id}}" value="{{rule.rule_type}}">
                <input class="form-control" type="text" name="rule_name_{{rule.id}}"
                    id="rule_name_{{rule.id}}" placeholder="Name" required
                    value="{{rule.name}}"></input>
            </div>
            <div class="col-4">
                <input class="form-control" type="text" name="rule_query_string_{{rule.id}}"
                    id="rule_query_string_{{rule.id}}" placeholder="Query String" required
                    value="{{rule.query_string}}"></input>
            </div>
            <div class="col-4">
                <input class="form-control" type="text" name="rule_regex_{{rule.id}}"
                    id="rule_regex_{{rule.id}}" placeholder="Regular Expression Test" required
                    value="{{rule.regex_test}}"></input>
            </div>
            <div class="col-3">
                <select class="form-control" name="rule_severity_{{rule.id}}"
                    id="rule_severity_{{rule.id}}" required>
                    {% for severity in severities %}
                    <option value="{{ severity.value }}">{{ severity.name }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="col-1">
                <button class="form-control btn btn-danger"
                    hx-delete="{% url 'policy_delete_rule' 0 %}"><i
                        class="fa-solid fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
