{% extends 'base.html' %}
{% block title %}Edit Policy{% endblock %}

{% block content %}

<div>
    <h1 class="text-success">Edit Policy: {{policy.name}}</h1>
    <hr>
    <div class="card my-4">
        <div class="card-body cardbody-color p-4">
            <div class="form-group">
                <form method="POST" action="{% url 'policy_edit' policy.id %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Name" required
                            value="{{policy.name}}">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" type="text" name="description" id="description"
                            placeholder="Description" required value="{{policy.description}}"></input>
                    </div>

                    <div id="policy_rule_list">

                        {% for rule in policy.current_version.rules.all %}
                        <div class="card my-4 rule-row" hx-target="closest .rule-row" hx-swap="outerHTML">
                            <div class="card-body cardbody-color p-4">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="hidden" name="rule_type_{{rule.id}}" value="{{rule.rule_type}}">
                                        <input class="form-control" type="text" name="rule_name_{{rule.id}}"
                                            id="rule_name_{{rule.id}}" placeholder="Name" required
                                            value="{{rule.name}}"></input>
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" type="text" name="rule_query_string_{{rule.id}}"
                                            id="rule_query_string_{{rule.id}}" placeholder="Query String" required
                                            value="{{rule.query_string}}"></input>
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" type="text" name="rule_regex_{{rule.id}}"
                                            id="rule_regex_{{rule.id}}" placeholder="Regular Expression Test" required
                                            value="{{rule.regex_test}}"></input>
                                    </div>
                                    <div class="col-3">
                                        <select class="form-control" name="rule_severity_{{rule.id}}"
                                            id="rule_severity_{{rule.id}}" required>
                                            {% for severity in severities %}
                                            <option value="{{ severity.value }}">{{ severity.name }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="col-1">
                                        <button class="form-control btn btn-danger"
                                            hx-delete="{% url 'policy_delete_rule' 0 %}"><i
                                                class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div id="policy_rule_list">
                            <div id="rule_replace_me">
                                <div id="dropdown_menu_items">
                                    <ul class="dropdown-menu" aria-labelledby="addRuleDropdown">
                                        {% for rule_type in rule_types %}
                                        <li>
                                            <a class="dropdown-item" href="#"
                                                hx-get="{% url 'policy_create_rule' rule_type.value %}" hx-trigger="click"
                                                hx-target="#rule_replace_me" hx-swap="beforeend">
                                                Add {{ rule_type.name }} Rule
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-primary dropdown-toggle" type="button" id="addRuleDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Add Rule
                            </button>
                        </div>
                    </div>

                    <div class="d-flex mt-3">
                        <a class="btn btn-danger ml-auto mr-0" type="button"
                            href="{% url 'policy_dashboard' %}">Cancel</a>
                        <button class="btn btn-primary ml-2 mr-0" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>

{% endblock %}
