{% load static %}
<style>
  .worker-status-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
</style>
<div>
  <nav class="navbar navbar-light navbar-expand-lg bg-light w-100">
    <div class="container-fluid d-flex justify-content-between">
      <div>
        <a class="navbar-brand" href="/"><img src="{% static 'account/chirps_logo.png' %}" width="32"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'asset_dashboard' %}"><i
                class="fa-solid fa-bullseye"></i> Assets</i></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'policy_dashboard' %}"><i class="fa-solid fa-map"></i>
              Policies</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'scan_dashboard' %}"><i
                class="fa-solid fa-magnifying-glass"></i> Scans</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'profile' %}"><i class="fa-regular fa-circle-user"></i>
              Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'logout' %}"><i
                class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
          </li>
          {% endif %}

          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}"><i
                class="fa-solid fa-user-ninja"></i> Admin</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- Status indicator -->
<div class="ms-auto">
  <div id="worker-status" hx-get="/worker/status/" hx-trigger="every 5s" hx-swap="none">
    <div class="worker-status-indicator" style="background-color: green;" title="Worker status" hx-trigger="click" hx-swap="none"></div>
  </div>
</div>
    </div>
  </nav>
</div>

<!-- Status Details Modal -->
<div class="modal fade" id="statusDetailsModal" tabindex="-1" aria-labelledby="statusDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusDetailsModalLabel">Worker Status Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="statusDetailsModalBody">
        <!-- Status details will be displayed here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.body.addEventListener('htmx:configRequest', function (event) {
    if (event.target.id === 'worker-status') {
      event.detail.headers['HX-Response-Content-Type'] = 'application/json';
    }
  });

  document.body.addEventListener('htmx:afterSwap', function (event) {
    if (event.target.id === 'worker-status') {
      let xhr = event.detail.xhr;
      if (xhr) {
        let response = JSON.parse(xhr.responseText);
        let overallStatus = response.overall_status;
        let serviceStatuses = response.service_statuses;
        let indicator = document.querySelector("#worker-status .worker-status-indicator");
        indicator.style.backgroundColor = overallStatus;
        indicator.setAttribute('title', 'Click to see service statuses');

        // Store the service statuses in the indicator element for later use
        indicator.dataset.serviceStatuses = JSON.stringify(serviceStatuses);
      }
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    let indicator = document.querySelector("#worker-status .worker-status-indicator");
  });

  document.addEventListener('click', function (event) {
    let indicator = document.querySelector("#worker-status .worker-status-indicator");
    if (event.target === indicator) {
      let serviceStatuses = JSON.parse(indicator.dataset.serviceStatuses);

      let statusesHTML = '';
      for (const [service, status] of Object.entries(serviceStatuses)) {
        statusesHTML += `<p><strong>${service} status:</strong> ${status ? 'Online' : 'Offline'}</p>`;
      }

      // Display the service statuses in the modal body
      let modalBody = document.getElementById('statusDetailsModalBody');
      modalBody.innerHTML = statusesHTML;

      // Show the modal
      let statusDetailsModal = new bootstrap.Modal(document.getElementById('statusDetailsModal'));
      statusDetailsModal.show();
    }
  });
</script>
