{% load scan_filters %}
{% for rule in unique_rules %}
<tr>
    <td>
        <span style="color:{{ rule.severity.color }};">
            {{ rule.severity.name }} ({{ rule.severity.value }})
        </span>
    </td>
    <td>{{rule.policy.policy.name}} : {{rule.name}}</td>
    <td>{{rule.finding_count}}</td>
    <td>
        <button class="btn btn-link" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{rule_type}}{{rule.id}}" aria-expanded="false"
            aria-controls="collapse{{rule_type}}{{rule.id}}"> <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </td>
</tr>
<tr>
    <td colspan="7">
        <div class="collapse" id="collapse{{rule_type}}{{rule.id}}">
            <div class="card card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Finding</th>
                            <th scope="col">Source ID</th>
                            <th scope="col">Asset</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for finding in rule.findings %}
                        <tr>
                            <td>{{finding|surrounding_text_with_preview_size:finding_preview_size}}
                            </td>
                            <td>{{ finding.source_id }}</td>
                            <td>{{ finding.result.scan_asset.asset.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
