{% extends 'base.html' %}
{% block title %}Scans{% endblock %}

{% block content %}
<div class="d-flex">
  <h1 class="my-auto ml-0 mr-auto text-success">Scans</h1>
  <a class="btn btn-primary my-auto ml-auto mr-0" href="{% url 'scan_create' %}">New Scan</a>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Start Time</th>
      <th scope="col">Finish Time</th>
      <th scope="col">Description</th>
      <th scope="col">Target</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for scan in page_obj %}
    <tr id="chirps-scan-{{scan.id}}">
      <td>{{ scan.id }}</td>
      <td>{{ scan.started_at }}</td>
      <td>{{ scan.finished_at }}</td>
      <td>{{ scan.description }}</td>
      <td>{{ scan.target }}</td>
      <td>
        <div hx-get="{% url 'scan_status' scan.id %}" hx-trigger="every 1s"></div>
      </td>
      <td>
        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{scan.id}}"
          aria-expanded="false" aria-controls="collapse{{scan.id}}"> View Details </button>
      </td>
    </tr>
    <tr>
      <td colspan="7">
        <div class="collapse" id="collapse{{scan.id}}">
          <div class="card card-body">
            {% for policy, results in scan.policy_results.items %}
            <h4>{{ policy.name }}</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Rule Name</th>
                  <th scope="col">Severity</th>
                  <th scope="col">Findings</th>
                </tr>
              </thead>
              <tbody>
                {% for rule, result in results.items %}
                <tr>
                  <td>{{ rule.name }}</td>
                  <td>{{ rule.severity }}</td>
                  <td>
                    {% if result.findings > 0 %}
                    <a href="{% url 'result_detail' result.id %}" class="btn btn-primary">view ({{result.findings}})</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endfor %}

          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' with page_obj=page_obj %}

{% endblock %}