{% extends 'base.html' %}
{% block title %}Scans{% endblock %}

{% block content %}
<div class="d-flex">
  <h1 class="my-auto ml-0 mr-auto text-success">Scans</h1>
  <a class="btn btn-primary my-auto ml-auto mr-0" href="{% url 'scan_create' %}">New Scan</a>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Policies</th>
      <th scope="col">Assets</th>
      <th scope="col">Run Count</th>
      <th scope="col">Version</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for scan in page_obj %}
    <tr id="chirps-scan-{{scan.id}}">
      <td>{{ scan.id }}</td>
      <td>{{ scan.name }}</td>
      <td>{{ scan.description }}</td>
      <td>{{ scan.policy_count }}</td>
      <td>{{ scan.asset_count }} </td>
      <td>{{ scan.run_count }}</td>
      <td>{{ scan.current_version.number }}</td>
      <td>
        <div id="vcr-{{scan.id}}" hx-get="{% url 'scan_vcr' scan.id %}" hx-trigger="load, every 10s">
          <i id="spinner-{{scan.id}}" class="fa-solid fa-spinner fa-spin"></i>
        </div>
      </td>
      <td>
        <a class="btn btn-primary"
           href="{% url 'scan_history_view' scan.id %}">
           <i class="fa-solid fa-magnifying-glass"></i>
        </a>

        <a class="btn btn-primary"
           href="{% url 'scan_edit' scan.id %}">
           <i class="fa-solid fa-pencil"></i>
        </a>

      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' with page_obj=page_obj %}

{% endblock %}
