{% extends 'base.html' %}
{% load scan_extras %}
{% load scan_filters %}
{% load static %}
{% block title %}Scans{% endblock %}

{% block content %}
<div class="d-flex">
    <h1 class="my-auto ml-0 mr-auto text-success">Scan Result</h1>
</div>
<hr/>

<div class="row">
    <div class="col-8">

        <!-- tab navs -->
        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tabs-1" role="tab"
                    aria-controls="tabs-1" aria-selected="true">
                    Assets <span class="badge bg-primary text-white">{{scan_run.scan_version.assets.count}}</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-2" data-bs-toggle="tab" href="#tabs-2" role="tab" aria-controls="tabs-2"
                    aria-selected="false">
                    Policies <span class="badge bg-primary text-white">{{scan_run.scan_version.policies.count}}</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-3" data-bs-toggle="tab" href="#tabs-3" role="tab" aria-controls="tabs-3"
                    aria-selected="false">
                    Findings
                    <span class="badge bg-danger text-white" hx-get="{% url 'scan_findings_count' scan_run.id %}"
                        hx-trigger="load, every 1s">
                        <i id="scan-findings-spinner-{{scan_run.id}}" class="fa-solid fa-spinner fa-spin"></i>
                    </span>
                </a>
            </li>
        {% if multiquery_results %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-4" data-bs-toggle="tab" href="#tabs-4" role="tab" aria-controls="tabs-4"
                    aria-selected="false">
                    Conversation
                </a>
            </li>
        {% endif %}
        </ul>
        <!-- tab navs -->

        <div class="tab-content" id="panel-content">

            <div class="tab-pane fade show active" id="tabs-1" role="tabpanel" aria-labelledby="tab-1">

                {% for scan_asset in scan_run.run_assets.all %}
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card my-4" id="chirps-asset-{{scan_asset.asset.id}}">
                            <div class="d-flex card-header">
                                <img width=48 class="rounded float-end my-auto ml-0 mr-3"
                                    src="{{scan_asset.asset.logo_url}}">
                                <h5 class="my-auto ml-0 mr-auto">{{ scan_asset.asset.name }}</h5>
                                <h5 class="my-auto ml-0 text-right">
                                    <div hx-get="{% url 'scan_asset_status' scan_asset.id %}" hx-trigger="every 1s">
                                        <i id="spinner-{{scan_asset.id}}" class="fa-solid fa-spinner fa-spin"></i>
                                    </div>

                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tab-2">
                <div class="accordion" id="template-panel-accordion">
                    {% include 'policy/dashboard_policy_list.html' with policy_list=scan_run.scan_version.policies.all edit_mode=False %}
                </div>
            </div>

            <div class="tab-pane fade" id="tabs-3" role="tabpanel" aria-labelledby="tab-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Severity</th>
                            <th scope="col">Policy : Rule</th>
                            <th scope="col">Findings</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'scan/_rule_table_rows.html' with unique_rules=unique_regex_rules %}
                        {% include 'scan/_rule_table_rows.html' with unique_rules=unique_multiquery_rules %}
                    </tbody>
                </table>
            </div>
            {% if multiquery_results %}
                <div class="tab-pane fade" id="tabs-4" role="tabpanel" aria-labelledby="tab-4">
                    {% for scan_asset in scan_run.run_assets.all %}
                        {% for multiquery_result in scan_asset.multiquery_results.all %}
                            <div class="card my-4">
                                <div class="card-header">
                                    <h5>{{ multiquery_result.rule.name }} - {{ scan_asset.asset.name }}</h5>
                                </div>
                                <div class="card-body">
                                    <div class="conversation">
                                        {% for line in multiquery_result.conversation|format_conversation %}
                                            {% if line.type == 'chirps' %}
                                                <strong>Chirps: </strong>{{ line.text }}<br>
                                            {% elif line.type == 'asset' %}
                                                <strong>Asset: </strong>{{ line.text }}<br>
                                            {% else %}
                                                {{ line.text }}<br>
                                            {% endif %}
                                            <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-4">
        <h5 class="my-auto ml-0 mr-auto text-success">Details</h5>

        <div class="row">
            <div class="col-3">Name: </div>
            <div class="col"><a href="{% url 'scan_history_view' scan_run.scan_version.scan.id %}">{{scan_run.scan_version.scan.name}}</a></div>
        </div>

        <div class="row">
            <div class="col-3">Description: </div>
            <div class="col">{{scan_run.scan_version.scan.description}}</div>
        </div>

        <div class="row">
            <div class="col-3">Start: </div>
            <div class="col">{{scan_run.started_at}}</div>
        </div>

        <div class="row">
            <div class="col-3">End: </div>
            <div class="col">{{scan_run.finished_at}}</div>
        </div>

        <div class="row">
            <div class="col-3">Duration: </div>
            <div class="col">{{scan_run.duration}}</div>
        </div>

        <hr />

        <h5 class="my-auto ml-0 mr-auto text-success">Findings by Severity</h5>
        <canvas id="scan_findings_chart"></canvas>

    </div>
</div>

<script src="{% static '/js/chart-4.3.0.min.js' %}"></script>

<script>
    const ctx = document.getElementById('scan_findings_chart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ severities|safe }},
        datasets: [{
            label: '# of findings',
            data: {{ severity_counts }},
        borderWidth: 1
        }]
      },
        options: {}
    });
</script>
{% endblock %}
